body{
  line-height: 1.5;
}

p{
  margin-top: 0;
}

div {
  /* border: 2px solid red; */
}

header {
  padding: 0 48px;
  background: black;
  color: white;
}

h1 {
  margin: 1rem 0 0 0;
  font-size: 44px;
  font-family: "Fira-Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

header h2 {
  font-family: "Fira-Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
}

strong {
  font-family: "Fira-Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p.summary {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
}


.wrap-system-msg {
  text-align: center; /* center Retry <button> */
}

p.system-msg {
  margin: 50px auto;
  padding: 20px;
  border: 4px solid white;
  max-width: 500px;

}

p.system-msg.system-msg--processing {


}


p.system-msg.system-msg--error{
  color: #b10e1e;
  border-color: #b10e1e;
}


p.signature-error {
  color: #b10e1e;
  font-weight: bold; /* todo fira bold */
  font-size: 18px;
  padding-left: 22px;
}

p.signature-error:before{
  content: '';
  border-right: 3px solid #b10e1e;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}

.text-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0 50px;

  max-width: 750px;
  margin-left: auto;
  margin-right: auto;


}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*overflow: hidden;*/
  font-family: "Fira", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.controlsBackground {
  background-color: #EBEBEB;
  min-height: 82px;
}

.controls {
  margin: 1rem 3rem; /* 25px 50px */
}

.controls:after {
   display: block;
   content: "";
   clear: both;
 }

.signatureSection {
  margin: 0;
}

.signature {
  flex: 1;
}

.wrap-signature {
  margin-top: 20px;
  position: relative; /* contain error msg */
}

.signature div {
  flex: 1;
}

.sigCanvas {
  touch-action: none;
  margin: .75rem auto;
  display: block;
  flex: 1;
  background-color: white;
  border-bottom: 1px solid #ABABAB;
  /*height: 18rem;*/
}

button {
  font-family: "Fira", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  padding: 12px;
  line-height: 1;
  min-width: 100px;
  min-height: 50px;
}

button.next {
  background-color: #369;
  border: 1px solid #247;
}

.controls button.next {
  float: right
}

.content button.next {
}



button.back {
  background-color: #eee;
  color: #000 !important;
  border: 1px solid black;
}

.endScreen {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  /*padding: 90px 110px;*/
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.img-tick {
  max-width: 15rem;
  max-height: 15rem;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0 50px;
  position: relative;
  top: 10%;
  left: 27%;
}

/* Fonts
=============================== */
@font-face {
  font-family: 'Fira';
  src: url("fonts/FiraSans-Regular.eot");
  src: url("fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/FiraSans-Regular.woff") format("woff"),
  url("fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira-Bold';
  src: url("fonts/FiraSans-Bold.eot");
  src: url("fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/FiraSans-Bold.woff") format("woff"),
  url("fonts/FiraSans-Bold.ttf") format("truetype");
}

/* Animations
=============================== */

/* Screen transition animation */
.text-content,
.endScreen {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Spinner animation */
.sk-fading-circle {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #369;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

