
.debug {
  display: none;
}

div {
  /*border: 2px solid red;*/
}

.sigCanvas {
  touch-action: none;
  margin: 20px 0;
  display: block;
  flex: 1;
  background-color: white;
  border: 1px solid black;
  //width: 100%;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*overflow: hidden;*/
  font-family: "Fira", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.test-content{
  flex: 1 0 auto;
  padding: 0 50px;
}

.controls {
  margin: 25px 50px
}

.sign-applicant {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #efefef;
  padding: 15px 60px;
}

button.next {
  background-color: #369;
  color: #fff !important;
  border: 1px solid #247;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  padding: 12px;
  font-size: 16px;
  line-height: 16px;
  min-height: 42px;
  min-width: 200px;
  display: inline-block;
  min-height: 54px;
  float:right;
}

button.back {
  background-color: #eee;
  color: #0 !important;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  padding: 12px;
  font-size: 16px;
  line-height: 16px;
  min-width: 200px;
  display: inline-block;
  min-height: 54px;
}

header {
  padding: 50px;
  background: black;
}


@media all and (max-width: 400px) {
  header {
    padding: 5px;
  }

  h1 {
    margin-block-start: 0;
  }
  .content {
    margin: 0 10px;
  }

  button {
    min-width: inherit !important;
  }

  .test-content {
    padding: 0;
  }

  .sign-applicant {
    padding: 15px 10px;
  }
}

